body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #ffab40;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    max-width: 80%;
}

button {
    background-color: #b64ec9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b64ec9;
}

#posiblesNumerosContainer {
    font-size: 18px;
    width: 100%;
    height: 150px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #333;
    color: white;
}

.verde {
    background-color: green;
    color: white;
}

.rojo {
    background-color: red;
    color: white;
}